/* ==========================================================================
   Variables
   ========================================================================== */

	$wrapper-width: 75em;
	
	/* ==========================================================================
   Grid variables
   ========================================================================== */

	$cols: 16;
	$col-margin: 1%;


	$extsm-bp: 	12.5em; 	//200px
	$sm-bp: 	30em; 		//480px
	$med-bp: 	47.5em; 	//760px
	$lrg-bp: 	65em; 		//1040px
	$extlrg-bp: 75em; 		//1200px